{% extends 'base.html.twig' %}

{% block title %}Ecommerce - Password modification{% endblock %}

{% block content %}
    <h1 class="mt-2 mb-2">My account</h1>
    <div class="mt-4 mb-4">
        <a href="{{ path('account') }}">Back</a>
    </div>
    {% if notif %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} mt-2" role="alert">
            {{ notif }}
        </div>
    {% endif %}
    <hr>
    {{ form(form) }}
{% endblock %}