{% extends 'base.html.twig' %}

{% block content %}
    {% if notif %}
        <div class="alert alert-info">
            {{ notif }}
        </div>
    {% endif %}

    <h1>Register</h1>
    {{ form(form) }}

{% endblock %}
